.container {
    width: 500px;
    height: 500px;
    background-color: lightgray;
    /* margin: 0;
    padding: 0; */
}

#output {
    padding: 20px;
    margin: 15px;
    font-size: 25px;
}

#calculator {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    padding: 10px;
    margin-top: 25px;
}

#calculator > button {
    border: 1px solid black;
    border-radius: 5%;
    background-color: rgba(209, 227, 227, 0.8);
    padding: 20px;
    font-size: 25px;
    text-align: center;
}

button:hover {
    filter: brightness(150%);
}